.active {
  position: absolute;
left: 0;
  top: 0px;
  transition:
    all 1s,
    z-index 0s,
    width 0s,
    left 0s;
  pointer-events: none;
  overflow-y: scroll;
}

.top {
  z-index: 1;
}

.bottom {
  z-index: 0;
}

.slide_right {
  translate: 100% 0;
}
